{% sw_extends '@Storefront/storefront/page/product-detail/tabs.html.twig' %}


{% block page_product_detail_tabs_navigation_review %}
    {{ parent() }}

    {% if page.product.customFields.custom_product_tabs_ingredients %}
        <li class="nav-item">
            <a class="nav-link" id="ingredients-tab" data-toggle="tab" data-offcanvas-tab="true" href="#ingredients-tab-pane" role="ingredients" aria-controls="ingredients-tab-pane" aria-selected="false">
                <span>{{ 'tabIngredientPlugin.productTabs.tabText' | trans }}</span>
            </a>
        </li>
    {% endif %}
{% endblock %}

{% block page_product_detail_tabs_content_description %}
    {{ parent() }}
 
    {% if page.product.customFields.custom_product_tabs_ingredients %}
        <div class="tab-pane fade"
             id="ingredients-tab-pane"
             role="tabpanel"
             aria-labelledby="ingredients-tab">

            <div class="ingredients-container">
                {{ page.product.customFields.custom_product_tabs_ingredients |trans |raw}} 
            </div>
        </div>
    {% endif %}
{% endblock %}
